@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');


:root{
--cor1: #8C593B;
--cor2: #db873e;
--cor3: #e9dd9b;
--cor4: #402F25;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
   
}

body,html{

     background-color: #974c29;
     height: 100vh;
     width: 100vw;
     
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: rgb(248, 213, 167);
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(59, 31, 13);
    transition: width .2s, height .2s;
    transition-timing-function: ease;
    
}

section#login > div#img{
    display: block;
    background: url(../img/certo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}
section#login > div#formulario{
    display: block;
    padding: 10px;

}
div#formulario > h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 4px;
}
div#formulario > p{
    margin-bottom: 10px;
    line-height: 13px;
    font-size: 0.8em;
    font-family: 'Poppins', sans-serif;
}
form > div.campo{
    background-color: #e27508;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin: 5px 0px;
}
form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 35px;
    font-family: 'Poppins', sans-serif;
    background-color: #271911;
    color: white;
    border: none;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    
}
form > input[type=submit]:hover{
    background-color: #69442e;
    border: 3px solid #271911;
    color: rgb(255, 255, 255);
    
}
form > a#button{
    display: block;
    font-size: 1em;
    text-align: center;
    width: 100%;
    height: 35px;
    padding-top: 5px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: white;
    color: black;
    border: 2px solid #271911;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    cursor: pointer;
}
a#button:hover{
    background-color: #69442e;
    color: white;
}
div.campo > input{
    font-size: 16px;
    width: calc(100% - 33px);
    height: 85%;
    border-radius: 7px;
    padding: 4px;
    border: none;
}
#user{
    position: relative;
    width: 25px;
    top: 5px;
    left: 5px;
}
#pass{
    position: relative;
    width: 25px;
    top: 7px;
    left: 2px;
}
