body{
    background-color: rgb(219, 218, 218);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
h1{
    font-size: xxx-large;
}
p{
    text-align: justify;
    font-size: large;
   
}