body{
    background-color: rgb(255, 255, 188);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
h1{
    font-size: xxx-large;
    color: rgb(182, 169, 127)
    
}
p{
    font-size: large;
    color: rgb(182, 169, 127);
}
ul{
    color:rgb(182, 169, 127) ;
}