@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
   
}
:root{
    --cor1: #8C593B;
    --cor2: #db873e;
    --cor3: #e9dd9b;
    --cor4: #402F25;
}
html,body{
    background-repeat: no-repeat;
    background: linear-gradient(45deg, #402F25 -20%, #DF6C2B, #612400);
    height: 100vh;
}
main{   
    position: absolute;
    width: 1199px;
    height: 530px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(228, 195, 152);
    text-align: center;
    border-radius: 35px 45px 45px 35px;
    box-shadow: -10px 10px 10px rgb(59, 31, 13);
}
section#Login > div#img{
    /*background-color:black;*/
    background-image: url(../img/certo.jpg);
    background-position: left bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 45px 45px 0px;
    position: absolute;
    width: 585px;
    height: 530px;
    left: 51.256%;
    
}
div#form{
    padding-top: 20px;
    margin-left: 50px;
    
}
div#form > p{
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 1.3em;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 20px;
    width: 530px;
    margin-right: 50px;
    margin-bottom: 35px;
    text-shadow: 1px 1px 1px #887459;
}
div#form > h1{
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    margin-right: 620px;
    margin-bottom: 15px;
    text-shadow: 1px 1px 1px #887459;
}
div.info{
    background-color: #ff8000;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 46%;
    height: 55px;
    border: 1px solid #e27508;
    border-radius: 13px;
    box-shadow: -3px 2px 8px #887459;

}
input.npt{
    position: static;
    border-radius: 10px;
    height: 40px;
    width: 78%;
    border: 2px solid #e27508;
    padding: 5px 70px 5px 0px;
    
}
#user{
   
    position: relative;
    top: 7px;
 
    
 }
 #pass{
     
     position: relative;
     top: 7px;
   
 }
 input#bot{
    box-shadow: 1px 1px 5px #110900;
    cursor: pointer;
    background-color: #271911;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    position: absolute;
    width: 44%;
    border-radius: 10px;
    border: 2px solid #271911;
    height: 55px;
    top: 78%;
    left: 26.3%;
    margin-top: 3px;
    transform: translate(-50%, -50%);
}
input#bot2{
    box-shadow: 1px 1px 5px #110900;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    position: absolute;
    width: 44%;
    border-radius: 10px;
    border: 3px solid #271911;
    height: 55px;
    top: 90%;
    left: 26.3%;
    margin-top: 3px;
    transform: translate(-50%, -50%);
}
input#bot:hover{
    border:3px solid #271911;
    color: black;
    background-color: white;
    transition: 0.5s;
    animation-delay: 0.5s;
    transform: translate(-51%, -50%);
   
}
input#bot{
    transition: 0.5s;
    animation-delay: 0.5s;
}
input#bot2:hover{
    border:3px solid #271911;
    color: rgb(255, 255, 255);
    background-color: #271911;
    transition: 0.5s;
    animation-delay: 0.5s;
    transform: translate(-51%, -50%);
   
}
input#bot2{
    transition: 0.5s;
    animation-delay: 0.5s;
}
