@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
   
}
:root{
    --cor1: #8C593B;
    --cor2: #db873e;
    --cor3: #e9dd9b;
    --cor4: #402F25;
}
html,body{
    
    background: linear-gradient(45deg, #402F25 -20%, #DF6C2B, #612400);
    height: 100vh;
}
main{   
    position: absolute;
    width: 800px;
    height: 369px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(228, 195, 152);
    text-align: center;
    border-radius: 40px 20px 20px 40px;
    box-shadow: -10px 10px 10px rgb(59, 31, 13);
}
section#Login > div#img{
    background-color:black;
    background-image: url(../img/certo.jpg);
    background-position: left bottom;
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 40px 0px 0px 40px;
    position: absolute;
    width: 320px;
    height: 369px;
    
}
div#form{
    padding-top: 10px;
    margin-left: 290px;
}
div#form > p{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 35px;
    line-height: 16px;
    width: 450px;
    text-shadow: 1px 1px 1px #887459;
}
div#form > h1{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    margin-left: 20px;
    text-shadow: 1px 1px 1px #887459;
}
div.info{
    background-color: #e27508;
    margin-left: 40px;
    margin-right: 15px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90%;
    height: 45px;
    border: 1px solid #e27508;
    border-radius: 13px;
    box-shadow: -3px 2px 8px #887459;

}

input.npt{
    position: static;
    border-radius: 10px;
    height: 30px;
    width: 75%;
    border: 2px solid #e27508;
    padding: 5px 70px 5px 0px;
    
}
#user{
   
    position: relative;
    top: 7px;
 
    
 }
 #pass{
     
     position: relative;
     top: 7px;
   
 }
 input#bot{
    box-shadow: 1px 1px 5px #110900;
    cursor: pointer;
    background-color: #271911;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    position: absolute;
    width: 57.7%;
    border-radius: 10px;
    border: 2px solid #271911;
    height: 35px;
    top: 79%;
    left: 70%;
    margin-top: 3px;
    transform: translate(-50%, -50%);
}
input#bot2{
    box-shadow: 1px 1px 5px #110900;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    position: absolute;
    width: 57.7%;
    border-radius: 10px;
    border: 3px solid #271911;
    height: 35px;
    top: 90%;
    left: 70%;
    margin-top: 3px;
    transform: translate(-50%, -50%);
}
input#bot:hover{
    border:3px solid #271911;
    color: black;
    background-color: white;
    transition: 0.5s;
    animation-delay: 0.5s;
   
}
input#bot{
    transition: 0.5s;
    animation-delay: 0.5s;
}
input#bot2:hover{
    border:3px solid #271911;
    color: rgb(255, 255, 255);
    background-color: #271911;
    transition: 0.5s;
    animation-delay: 0.5s;
   
}
input#bot2{
    transition: 0.5s;
    animation-delay: 0.5s;
}
 