@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

*{
    margin: 0px;
    padding: 0px;
   }

   
    
@font-face {
    font-family: 'idroid';
    src: url("fontes/idroid.otf") format('opentype');
}



body{
    background-color: #bcdfcb;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: linear-gradient(to top, #0c351d, #65faa5);
  

}

header > h1{
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 60px;
    padding-top: 20px;
    
}
header > div{
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 55px;
}
#menu > li{
    color: white;
    display: inline;
    font-size: 20px;
    padding: 10px;    
}
li > a{
    color: #cff7e0;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition-duration: .5s;
}
li > a:hover{
    background-color: #6dd397;
    color: #175833;
}


#menu{
    text-align: center;
    padding-bottom: 20px;
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: #0c351d;
    background-color: #65faa5;
    padding: 2px 6px;
}
main a:hover{
    text-decoration: underline;
    color: #166e3c;
}

main{
    background-color: white;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.596);
    
}
main strong{
    color: #0c351d;
    font-weight: bold;
   
}
article > h1{
    font-size: 2em;
    color: #348054;
    font-family: "idroid";
    padding-bottom: 20px;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
article > .sub{
    color: #348054;
    background-color: #b4e6cac5;
    font-family: "idroid";
    font-size: 1.3em;
    background-image: linear-gradient(to right, #a8dabd, #fdfdfd);
    text-indent: 10px;
}

main img{
    width: 100%;
}
main img.pq{
    width: 350px;
    display: block;
    margin: auto;
}
a.ex::after{
    content: '\00A0\1F517';
}
#droid{
    width: 25%;
    margin: auto;
    display: block;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    
}
div.video{
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    background-color: #114d2a;
    position: relative;
}
section{
    background-color: #b9dfc9;
    border-radius: 15px 15px 5px 5px;
}
aside > h3
{   
    color: white;
    font-size: 15px;
    text-align: left;
    margin: 15px 0px;
    padding: 10px;
    background-color: #166e3c;
    border-radius: 15px 15px 0px 0px;
    text-shadow: 1px 1px 1px black;
}
aside > p{
    text-align: center;
    font-size: 13px;
    line-height: normal;
    padding-bottom: 20px ;

}
aside{
    background-color: #95dbb2;
    border-radius: 15px;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.603);
}
aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    font-size: 14px;
    padding-left: 55px;

}

footer{
    text-align: center;
    color: white;
    background-color: #0c351d;
    font-size: 0.8em;
    padding: 5px
}



