@charset "UTF-8";
body{
    background-color: rgb(157, 190, 206);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:rgb(48, 67, 75) ;
}
#principal{
    text-align: center;
    background-color:white ;

}
h2{
    color:rgb(2, 135, 192)
}
.basico{
    color: rgb(114, 179, 114);
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
}
.intermediario{
    color: rgb(228, 205, 106);
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
}
.avançado{
    color: rgb(212, 110, 110);
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
}
.destaque{
    background-color: rgb(190, 190, 12);
}