@charset "UTF-8"

@font-face {
    font-family:'cordelmo';
    src: url("fonte/cordel/xilosa_.ttf") format('truetype');
}

@font-face {
    font-family:'escrita';
    src: url("fonte/escrita/Delight\ Coffee.ttf") format('truetype');
}


*{
    margin: 0px;
    padding: 0px;
   }


body{
    background-color: rgb(255, 255, 255);

}

header{
    background-color: black;
}
 
header h1{
    color: white;
    text-align: center;
    font-family: 'cordelmo';
    font-size: 3.5em;
    padding-top: 50px;
   
}
header p{
    text-align: center;
    color: white;
    padding-bottom: 50px;
    
}
header a{
    color: white;
}
p{
    font-family: 'Kalam', cursive;
    
}