@font-face {
    font-family: "cordel";
    src: url(fonte/cordel/xilosa_.ttf) format('truetype');
}

@font-face {
    font-family:'escrita';
    src: url(fonte/escrita/Kenac-Bold.ttf) format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
   }


body{
    background-color: rgb(255, 255, 255);

}

header{
    background-color: black;
}
 
header h1{
    color: white;
    text-align: center;
    font-family: 'cordel';
    font-size: 4.5em;
  
   
}
header h2{
    padding-top: 20px;
    font-family: 'cordel';
    font-size: 2.5em;
    color: white;
    text-align: center;
   
}
header p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    padding-bottom: 50px;
    
}
header a{
    color: white;
}

p{
    font-family: 'escrita';
    
}
.lax{
    color: white;
    background-color: rgba(0, 0, 0, 0.308);
    padding-left: 5px;
}
.es{
    -moz-box-align: start;
    padding: 25px 0px 100px 45px;
    font-size: 1.5em;
    width: 280px;
    
}
.es > p{
    line-height: 56px;
}
 

#paralax1{
    background-color: black;
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 1px 2px 3px black;
}
#paralax2{
    background-color: black;
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 1px 2px 3px black;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
}